# Managing Data

In this module, we were learnt how to prepare the dataset for machine learning modelling. `Data scientists` say data prepation, cleaning and visualizations take 70 to 80% of any machine learning modelling. let's start and explore the beauty of `managing data`.

For this exercise, I am going to prepare the dataset called `US-pumpkins.csv` for ML.

These are my objectives of the exercises
- load the `Dataframe`
- check for missing values
- drop the missing values
- check and convert columns to their suitable format for ml
- visualize the relations between variables

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

pumpkins = pd.read_csv(r"c:/users/danhaya/arewads/arewads-machine-learning/data/US-pumpkins.csv")
pumpkins.head()

,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,...,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Unnamed: 24,Unnamed: 25
0,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,4/29/17,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
1,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,5/6/17,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
2,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/16,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
3,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/16,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
4,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/5/16,90.0,100.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN

In [8]:
# Check for any missing data in the Dataframe

pumpkins.isnull().sum()

City Name             0
Type               1712
Package               0
Variety               5
Sub Variety        1461
Grade              1757
Date                  0
Low Price             0
High Price            0
Mostly Low          103
Mostly High         103
Origin                3
Origin District    1626
Item Size           279
Color               616
Environment        1757
Unit of Sale       1595
Quality            1757
Condition          1757
Appearance         1757
Storage            1757
Crop               1757
Repack                0
Trans Mode         1757
Unnamed: 24        1757
Unnamed: 25        1654
dtype: int64

This `Dataframe` contains a lot of missing data. particularly these three columns; Type, sub variety and grade with over thousand of missing entries. while most low column has only hundred and three missing entries.

let me drop all the columns with missing data to make the `Dataframe` clean and tide for ml modelling.

In [ ]:
# let me create list of columns of interest

new_columns = ['Package', 'Low Price', 'High Price', 'Date']
pumpkins = pumpkins.drop([c for c in pumpkins.columns if c not in new_columns], axis=1)

pumpkins.head()

        Package     Date  Low Price  High Price
0  24 inch bins  4/29/17      270.0       280.0
1  24 inch bins   5/6/17      270.0       280.0
2  24 inch bins  9/24/16      160.0       160.0
3  24 inch bins  9/24/16      160.0       160.0
4  24 inch bins  11/5/16       90.0       100.0