# PANDAS 

### Getting Started with pandas

Pandas will be a major tool of interest, it contains data structures and data manipulation tools designed to make data cleaning and analysis fast and convenient in python.

### Series

A Series is a one-dimensional array-like object containing a sequence of values (of similar types to Numpytypes) of the same type and an associated array of data labels, called its **_index_.**

In [2]:
import numpy as np
import pandas as pd

obj = pd.Series([4, 5, 6, 7,])
print(obj)

0    4
1    5
2    6
3    7
dtype: int64

you'll want to create a series with an index identifying each data point with a label.

In [4]:
obj2 = pd.Series([2, 3, 4, 5, 6,], index=['a', 'b', 'c', 'd', 'e'])
print(obj2)

a    2
b    3
c    4
d    5
e    6
dtype: int64

In [5]:
np.exp(obj2)

a      7.389056
b     20.085537
c     54.598150
d    148.413159
e    403.428793
dtype: float64

In [6]:
"e" in obj2

True

A Series can be converted back to a dictionary with  its to_dict method:

In [7]:
sdata = {'Ohia': 3500, 'Texas': 71000, 'oregon': 16000, 'utah': 5000}
obj3 = pd.Series(sdata)
print(obj3)

Ohia       3500
Texas     71000
oregon    16000
utah       5000
dtype: int64

In [9]:
obj3.to_dict()

{'Ohia': 3500, 'Texas': 71000, 'oregon': 16000, 'utah': 5000}

### DataFrame

A DataFrame represents a rectangle table of data and contains an ordered, named, collection of columns, each of which can be a different value type (numeric, string, boolean, etc). The DataFrame has both a row and column index; it can be thought of as a dictionary of Series all sharing the same index.

In [10]:
data = {
    'state': ['Ohia', 'Ohia', 'Ohia', 'Nevada', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2003, 2004, 2005],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
frame = pd.DataFrame(data)
print(frame)

    state  year  pop
0    Ohia  2000  1.5
1    Ohia  2001  1.7
2    Ohia  2002  3.6
3  Nevada  2003  2.4
4  Nevada  2004  2.9
5  Nevada  2005  3.2

In [11]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohia  1.5
1  2001    Ohia  1.7
2  2002    Ohia  3.6
3  2003  Nevada  2.4
4  2004  Nevada  2.9
5  2005  Nevada  3.2

In [12]:
frame.loc[1]

state    Ohia
year     2001
pop       1.7
Name: 1, dtype: object

In [13]:
frame.iloc[2]

state    Ohia
year     2002
pop       3.6
Name: 2, dtype: object